.mat-form-field {
  font-size: 14px;
  width: 100%;
}

table {
  width: 100%;
  background-color: #333;
}

.mat-cell {
  color: antiquewhite;
}

.avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
  margin: 5px;
}

.playerName {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 2.3em;
  color: aquamarine;
}

.playerInfoContainer {
  display: flex;
  text-align: center;
  padding: 5px;
  flex-direction: row;
  align-items: center;
  align-content: center;
  height: 60px
}

.loader {
  border: 16px solid black; /* Light grey */
  border-top: 16px solid cyan; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1.5s linear infinite;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

a.disabled {
  pointer-events: none;
  cursor: default;
}

.radiantTitle {
  color: rgb(27, 114, 46);
}

.direTitle {
  color: rgb(158, 34, 45);
}

.nameField {
  width: 500px
}

.gpmField {
  color: gold
}

h1 {
  display: inline;
}